* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	font-family: "Roboto", sans-serif;
}

body {
	display: flex;
	height: 100vh;
	justify-content: center;
	/* align-content: center; */
	align-items: center;
	background-color: #656565;
}

main {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffffac;
	border-radius: 10px;
}

h1 {
	font-weight: bolder;
	margin: 20px;
	border-bottom: solid 1px #ccc;
}

.texto-p {
	font-size: 12px;
}

#colorhex-div {
	width: 80%;
	height: 60px;
	padding-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: 20px 0;
	background-color: #fff;
}
#colorhex-num {
	font-weight: bold;
	font-size: 2.5rem;
}
button#boton-cambiar {
	cursor: pointer;
	user-select: none;
	margin-bottom: 20px;
	padding: 10px;
	background-color: transparent;
	border: solid 1px #1a1818;
	color: #1a1818;
}

button#boton-cambiar:hover {
	border-color: white;
	color: #fff;
}
#copy-button {
	font-size: 24px;
	cursor: pointer;
	color: #111010;
}
#copy-button:hover {
	color: grey;
}
#copy-button:active {
	color: rgb(190, 25, 25);
}

#copy-button p {
	font-size: 0.7rem;
}
